<template>
  <div>

    <div class="mb-8">
      <h1 class="text-90 font-normal text-2xl mb-3">Create Questions</h1>
    </div>

    <div class="card">
      <div class="my-4">

        <div class="flex border-b border-40">
            <div class="w-1/5 px-8 py-6">
                <label for="type" class="inline-block text-80 pt-2 leading-tight">
                  Survey </label
                >
            </div>
            <div class="py-6 px-8 w-1/2">
              <select  v-model="survey" class="w-full form-control form-select"
              @change="getSets()">
                <option value="" selected = "selected" disabled>
               Select Survey
                </option>
                <option v-for="survey in surveys"
                  :key="survey.id"
                  :value="survey.id"
                > 
                  {{ survey.survey_name }}
                </option>
              </select>
            </div>
          
        </div>

        <div class="flex border-b border-40">
            <div class="w-1/5 px-8 py-6">
                <label for="type" class="inline-block text-80 pt-2 leading-tight">
                    Set </label
                >
            </div>
            <div class="py-6 px-8 w-1/2">
              <select  v-model="set" class="w-full form-control form-select">
                <option value="" selected = "selected" disabled>
               Select Set
                </option>
                <option v-for="set in sets"
                  :key="set.id"
                  :value="set.id"
                > 
                  {{ set.set_name }}
                </option>
              </select>
            </div>
          
        </div>

        <!-- <div class="flex border-b border-40">
            <div class="w-1/5 px-8 py-6">
                <label for="question_id" class="inline-block text-80 pt-2 leading-tight">
                    Question Id *</label
                >
            </div>
            <div class="py-6 px-8 w-1/2">
                <div class="flex items-center">              
                           <input id="question_id"
                                ref="question_id"
                                name="question_id"
                                v-model="question_id"
                                type="text"
                                placeholder="Question ID"
                                class=" w-full form-control form-input form-input-bordered"
                            />
                </div>
            </div>
        </div> -->



      

        <div class="flex border-b border-40">
            <div class="w-1/5 px-8 py-6">
                <label  class="inline-block leading-tight text-80">
                    Type </label
                >
            </div>
            <div class="py-6 px-8 w-1/2">
              <select  @change="selectOption()" v-model="typeOption"
               class="w-full form-control form-select"
              >
                <option :value="defaultOption" selected= "selected">
                     {{defaultOption}}
                </option>
                <option
                  v-for="option in typeOptions"
                  :key="option.id"
                  :value="option.name"
                >
                  {{ option.name }}
                </option>
              </select>
            </div>
          
        </div>

        <div class="flex border-b border-40">
            <div class="w-1/5 px-8 py-6">
                <label for="statement" class="inline-block leading-tight text-80">
                    Statement *</label
                >
            </div>

            
            <div class="py-6 px-8 w-1/2">
                <div class="flex items-center">              
                           <input id="statement"
                                ref="statement"
                                name="statement"
                                v-model="statement"
                                type="text"
                                placeholder="Enter Question Statement "
                                class=" w-full form-control form-input form-input-bordered"
                            />
                </div>
            </div>
          
        </div>


        <div v-for="(questionOption,index ) in    questionOptions" :key="index" >
         
               <div v-if ="typeOption == 'Multiple Option Type'">
                    <MultipleOption 
                                            :questionOption="questionOption" 
                                            @removeRow="removeRow(index)"
                                            @addNewRow="addNewRow"
                                            :index="index"
                                            :length="questionOptions.length"
                        />    

                    
               </div>

              <div v-if ="typeOption == 'Range Option Type'">
          
                  <div class="flex border-b border-40">
                    <div class="bg-20 ml-4 text-bold text-center remove-last-margin-bottom leading-normal w-full py-4 px-8">Create Options</div>
                  </div> 

                      <RangeOption 
                                              :questionOption="questionOption" 
                                              @removeRow="removeRow(index)"
                                              @addNewRow="addNewRow"
                                              :index="index"
                                              :length="questionOptions.length"
                          />    
              </div>
                             
        </div>
        
       
        <div class="flex py-6 my-5 items-center justify-center ">
            <button
                type="button"
                class="relative inline-flex items-center mr-3 btn btn-default btn-primary"
                @click="save"
            >
               Create Question
            </button>
        </div>
     </div>
    </div>
    
  </div>
</template>

<script>
import debounce from "lodash/debounce";
import MultipleOption from './MultipleOption.vue';
import RangeOption from './RangeOption.vue';

// import pagination from "./Pagination.vue";

export default {
  name: "Create Question",
  components: {
    MultipleOption,
    RangeOption

  },
  metaInfo() {
    return {
      title: "Create Question",
    };
  },
  data() {
    return {
      defaultOption: "Multiple Option Type",
      typeOption:"Multiple Option Type",
      typeOptions: [
        {
          id:"1",
          name: "Range Option Type"
        },
  
      ],
      multipleTypeOptions:[],
      questionOptions: [],
      multipleType: true,
      sets: [],
      surveys:[],
      isTyping: false,
      currentPage: 2,
      answerTypes:[],
      page: 1,
      pages: 1,
      total: 0,
      perpage: window.laravelConfig.perpage,
    };
  },
  mounted() {
    // alert(this.optionType);
    this.getAnswerTypes();
    this.getSurveys();
    this.addNewRow();

    // console.log("item......");
    //  this.fetchData();
    // this.fetchVendors();
  },
  watch: {

  
    searchDescription: debounce(function () {
      this.isTyping = false;
    }, 1000),
    searchItemID: debounce(function () {
      this.isTyping = false;
    }, 1000),
    isTyping: function (value) {
      if (!value) {
        this.filterData(1);
      }
    },
  },

  methods: {
    //  getResults(page = 1) {

    //  },


    getAnswerTypes() {
      Nova.request()
        .get("/nova-vendor/survey/get-answer-type-options/", {
        })
        .then(({ data }) => {
          this.answerTypes = data.result;
            
            this.loading = false;
        })
        .catch((err) => console.log(err));
      
    },
    loadpage(page) {
      this.page = page;
      this.filterData();
      console.log(page);
    },

    // getOptionAnswer() {
    //   Nova.request()
    //     .get("/nova-vendor/survey/get-multiple-type-options/", {
    //     })
    //     .then(({ data }) => {
    //       this.multipleTypeOptions = data.result;
    //       console.log("multipleTypeOptions");
    //       console.log(this.multipleTypeOptions);
    //     })
    //     .catch((err) => console.log(err));

    // },

    // filterData(page) {
    //   if (page) {
    //     this.page = 1;
    //   }

    //   const ItemID = this.$refs.ItemID.value;
    //   const ItemDescription = this.$refs.ItemDescription.value;
    //   const CompanyID = this.$refs.CompanyID.value;
    //   this.fetchData(ItemID, ItemDescription, CompanyID);
    // },
    // resetFilter() {
    //   this.$refs.ItemID.value = "";
    //   this.$refs.ItemDescription.value = "";
    //   this.$refs.CompanyID.value = "";
    // },
    selectOption() {

      this.questionOptions = [];
      this.addNewRow();
    
      // if (this.optionType != "Multiple Option Type") {
      //      this.multipleType = false;
      // }
      //  alert(this.optionType) 
      // console.log(this.type);
    },
   

    addNewRow() {
      let option = {};
      let answer_types = {};
      if (this.typeOption == 'Multiple Option Type') {
        
      
        this.answerTypes.forEach(element => {
          answer_types[element.title] = false;
        });
        console.log("answer types is")
        console.log(answer_types)

        option = {
          option: "",
          answer_type: answer_types,
        };
        
      } else if (this.typeOption == 'Range Option Type') {

          option = {
            option: "",
             lo: '',
             hi:''
          };
        
      }
             this.questionOptions.push(option);
             console.log(this.questionOptions);
    },

        
    removeRow(index) {
    
      this.questionOptions.splice(index,1);
             console.log(this.questionOptions);
        },

    // fetchData: function (
    //   ItemID = null,
    //   ItemDescription = null,
    //   CompanyID = null
    // ) {
    //   this.loading = true;
    //   Nova.request()
    //     .post("/nova-vendor/order/get-item-list", {
    //       ItemID,
    //       ItemDescription,
    //       CompanyID,
    //       page: this.page,
    //     })
    //     .then(({ data }) =>{
    //       this.items = data.items;

    //       if(this.page == 1) {
    //         this.pages = Math.ceil(data.total / 20);
    //         this.total = data.total;
    //       }
    //       //  console.log("ites are ");
    //       //   console.log(this.items);
    //       this.loading = false;
    //     })
    //     .catch((err) => {
    //       this.loading = false;
    //       console.log(err);
    //     });
    // },

    getSets() { 
      console.log(this.survey);
      if (!this.survey) {
        Nova.error("please select a Survey");
        return;
      }
      Nova.request()
        .get("/nova-vendor/survey/get-sets/"+this.survey, {
           survey_id: this.survey,
        })
        .then(({ data }) => {
          this.sets = data;
        })
        .catch((err) => console.log(err));

    },


    getSurveys() { 

      Nova.request()
        .get("/nova-vendor/survey/get-surveys", {
            
        })
        .then(({ data }) => {
          console.log(data);
          this.surveys = data;
        })
        .catch((err) => console.log(err));

    },
 
    save: function () {
     
      if (!this.survey) {
        Nova.error("please select a Survey");
        return;
      }
      if (!this.set) {
        Nova.error("please select a Set");
        return;
      }
      Nova.request()
        .post("/nova-vendor/survey/save-question", {
          test_set_id:this.set,
          question_id: this.question_id,
          question_id: this.question_id,
          statement: this.statement,
         
          question_type: this.typeOption,
          questionOptions:this. questionOptions,

        })
        .then(({ data }) => {
          Nova.success("Question created successfully!");
          console.log(data[0].id);
          this.$router.push({
            path: `/question-detail/${data[0].id}`,
            query: {
            },
          });
                                        
        })
        .catch((err) => {
          Nova.error("Some Error Occured!");
          console.log(err)
        }
       );
    },
  },
};
</script>

<style>
/* Scoped Styles */
.btn-medium {
  height: 2.25rem;
  padding: 0 1rem;
  align-items: center;
  border-radius: 0.5rem;
  font-size: 0.9rem;
}
</style>
