<template>
  <div>
    <div class="mb-8">
      <h1 class="text-90 font-normal text-2xl mb-3">Create Multiple Type Option</h1>
    </div>

    <div class="card">
      <div class="my-4">

      <div class="flex border-b border-40">
          <div class="w-1/5 px-8 py-6">
              <label for="statement" class="inline-block leading-tight text-80">
                  Statement </label
               >
          </div>

          <div class="py-6 px-8 w-1/2">
                <div class="flex items-center">              
                           <input id="desc"
                                ref="desc"
                                name="desc"
                                v-model="statement"
                                type="text"
                                placeholder=" Statement "
                                class=" w-full form-control form-input form-input-bordered"
                               
                            />
                </div>
           </div>

          </div>
          
  
     <div v-for="(multipleTypeOption, index) in multipleTypeOptions"   
         :key="index" >
     <div class="flex border-b border-40">
         <div class="w-1/5 px-8 py-6">
              <label for="option" class="inline-block leading-tight text-80">
                  Option </label
               >
          </div>

          <div class="py-6 px-8 w-1/2">
              <div class="flex items-center">              
                         <input id="option"
                          
                              ref="option"
                              name="option"
                              v-model="multipleTypeOption.option"
                              type="text"
                              placeholder="Option"
                              class=" w-full form-control form-input form-input-bordered"
                          />
              </div>
          </div>  
          
           <div v-if="multipleTypeOptions.length > 1 && index == multipleTypeOptions.length - 1" class="pt-4"   @click.prevent="removeRow">
              <svg xmlns="http://www.w3.org/2000/svg" width="24" height="24" viewBox="-1 -2 24 24" aria-labelledby="x-circle" role="presentation" class="fill-current text-danger"><path d="M4.93 19.07A10 10 0 1 1 19.07 4.93 10 10 0 0 1 4.93 19.07zm1.41-1.41A8 8 0 1 0 17.66 6.34 8 8 0 0 0 6.34 17.66zM13.41 12l1.42 1.41a1 1 0 1 1-1.42 1.42L12 13.4l-1.41 1.42a1 1 0 1 1-1.42-1.42L10.6 12l-1.42-1.41a1 1 0 1 1 1.42-1.42L12 10.6l1.41-1.42a1 1 0 1 1 1.42 1.42L13.4 12z"></path></svg>
            </div>

        </div>
            <div class="flex border-b border-40">
   
              <div class="w-1/5 px-8 py-6">
        <label for="statement" class="inline-block leading-tight text-80">
            Answer Type </label
        >
              </div>

              <div class="py-6 px-8 w-1/2">
                  <div class=" flex mb-2"> 
                      <div class="mr-3">I</div>
                              
                      <input
                              ref="I"
                              v-model= "multipleTypeOption.answer_type.I"
                          
                              type="checkbox"
                              class="checkbox"
                              />
                  </div>
                  <div class="flex ">    
                  <div class="mr-2">E</div>           
                      <input
                              ref="E"
                              v-model= "multipleTypeOption.answer_type.E"
                            
                              type="checkbox"
                              class="checkbox"
                              />
                  </div>
              </div> 

            </div>

            <div v-if="index == multipleTypeOptions.length - 1" class="flex border-b border-40">     
                  
                <div class="py-6  w-2/3">
                    <button 
                    class="  float-right flex inline-flex nova-button btn btn-default btn-primary focus:outline-none"
                    @click.prevent="addNewRow"
                    >
                    {{ __("Add more option") }}
                  </button>

                </div>
             </div>
        
        </div>
 
        <div class="flex py-6 my-5 items-center justify-center ">
            <button
                type="button"
                class="relative inline-flex items-center mr-3 btn btn-default btn-primary"
                @click="save"
            >
               Create 
            </button>
        </div>


</div>

  </div>
    
  </div>
</template>

<script>
import debounce from "lodash/debounce";
import MultipleOption from './MultipleOption.vue';
import RangeOption from './RangeOption.vue';

// import pagination from "./Pagination.vue";

export default {
  name: "Create Question",
  components: {
    MultipleOption,
    RangeOption

  },
  metaInfo() {
    return {
      title: "Create Question",
    };
  },
  data() {
    return {
      options: [
        {
          id:"1",
          name: "Range Option Type"
        },
  
      ],

      multipleTypeOptions:[],
      questionOptions: [],
      multipleType: true,
      sets: [],
      surveys:[],
      isTyping: false,
      currentPage: 2,
      page: 1,
      pages: 1,
      total: 0,
      perpage: window.laravelConfig.perpage,
    };
  },
  mounted() {
    // alert(this.optionType);
  
    this.addNewRow();

    // console.log("item......");
    //  this.fetchData();
    // this.fetchVendors();
  },
  watch: {

    optionType: {
      immediate: true,
        handler(value) {
          if (value == 'Multiple Option Type') {
            this.getOptionAnswer();
              }
        }
     },
    searchDescription: debounce(function () {
      this.isTyping = false;
    }, 1000),
    searchItemID: debounce(function () {
      this.isTyping = false;
    }, 1000),
    isTyping: function (value) {
      if (!value) {
        this.filterData(1);
      }
    },
  },

  methods: {
    //  getResults(page = 1) {

    //  },


    
    loadpage(page) {
      this.page = page;
      this.filterData();
      console.log(page);
    },

    // getOptionAnswer() {
    //   Nova.request()
    //     .get("/nova-vendor/survey/get-multiple-type-options/", {
    //     })
    //     .then(({ data }) => {
    //       this.multipleTypeOptions = data.result;
    //       console.log("multipleTypeOptions");
    //       console.log(this.multipleTypeOptions);
    //     })
    //     .catch((err) => console.log(err));
    // },

    // filterData(page) {
    //   if (page) {
    //     this.page = 1;
    //   }

    //   const ItemID = this.$refs.ItemID.value;
    //   const ItemDescription = this.$refs.ItemDescription.value;
    //   const CompanyID = this.$refs.CompanyID.value;
    //   this.fetchData(ItemID, ItemDescription, CompanyID);
    // },
    // resetFilter() {
    //   this.$refs.ItemID.value = "";
    //   this.$refs.ItemDescription.value = "";
    //   this.$refs.CompanyID.value = "";
    // },
    // selectOption() {

    //   this.questionOptions = [];
    //   this.addNewRow();
    
    //   // if (this.optionType != "Multiple Option Type") {
    //   //      this.multipleType = false;
    //   // }
    //   //  alert(this.optionType) 
    //   // console.log(this.type);
    // },
   

    addNewRow() {
      let option = {};

        option = {
          option: "",
          answer_type: {
            I: false,
            E: false
          }
        };
        
    
      this.multipleTypeOptions.push(option);
      console.log(this.multipleTypeOptions);
    },

        
    removeRow(index) {
    
      this.multipleTypeOptions.splice(index,1);
             console.log(this.multipleTypeOptions);
        },

    // fetchData: function (
    //   ItemID = null,
    //   ItemDescription = null,
    //   CompanyID = null
    // ) {
    //   this.loading = true;
    //   Nova.request()
    //     .post("/nova-vendor/order/get-item-list", {
    //       ItemID,
    //       ItemDescription,
    //       CompanyID,
    //       page: this.page,
    //     })
    //     .then(({ data }) =>{
    //       this.items = data.items;

    //       if(this.page == 1) {
    //         this.pages = Math.ceil(data.total / 20);
    //         this.total = data.total;
    //       }
    //       //  console.log("ites are ");
    //       //   console.log(this.items);
    //       this.loading = false;
    //     })
    //     .catch((err) => {
    //       this.loading = false;
    //       console.log(err);
    //     });
    // },

    // getSets() { 
    //   console.log(this.survey);
    //   if (!this.survey) {
    //     Nova.error("please select a Survey");
    //     return;
    //   }
    //   Nova.request()
    //     .get("/nova-vendor/survey/get-sets/"+this.survey, {
    //        survey_id: this.survey,
    //     })
    //     .then(({ data }) => {
    //       this.sets = data;
    //     })
    //     .catch((err) => console.log(err));

    // },


    // getSurveys() { 

    //   Nova.request()
    //     .get("/nova-vendor/survey/get-surveys", {
            
    //     })
    //     .then(({ data }) => {
    //       console.log(data);
    //       this.surveys = data;
    //     })
    //     .catch((err) => console.log(err));

    // },
 
    save: function () {

      // if (!this.survey) {
      //   Nova.error("please select a Survey");
      //   return;
      // }
      // if (!this.set) {
      //   Nova.error("please select a Set");
      //   return;
      // }
      
      Nova.request()
        .post("/nova-vendor/survey/save-multuple-type-options", {
          statement: this.statement,
          multipleTypeOptions:this. multipleTypeOptions,

        })
        .then(({ data }) => {
          Nova.success(" created successfully!");
          console.log(data[0].id);
          this.$router.push({
            path: `/multiple-type-option-detail/${data[0].id}`,
            query: {
            },
          });
                                        
        })
        .catch((err) => {
          Nova.error("Some Error Occured!");
          console.log(err)
        }
       );
    },
  },
};
</script>

<style>
/* Scoped Styles */
.btn-medium {
  height: 2.25rem;
  padding: 0 1rem;
  align-items: center;
  border-radius: 0.5rem;
  font-size: 0.9rem;
}
</style>
