<template>
    <div>

        <div class="flex border-b border-40">
            <div class="w-1/5 px-8 py-6">
                <label for="statement" class="inline-block leading-tight text-80">
                    Option </label
                 >
            </div>
            <div class="py-6 px-8 w-1/2">
                <div class="flex items-center">              
                           <input id="option"
                            
                                ref="option"
                                name="option"
                                v-model="questionOption.option"
                                type="text"
                                placeholder="Option"
                                class=" w-full form-control form-input form-input-bordered"
                            />
                </div>
            </div> 
            
            <div v-if="length > 1 && index == length - 1" class="pt-4"   @click.prevent="removeRow">
                <svg xmlns="http://www.w3.org/2000/svg" width="24" height="24" viewBox="-1 -2 24 24" aria-labelledby="x-circle" role="presentation" class="fill-current text-danger"><path d="M4.93 19.07A10 10 0 1 1 19.07 4.93 10 10 0 0 1 4.93 19.07zm1.41-1.41A8 8 0 1 0 17.66 6.34 8 8 0 0 0 6.34 17.66zM13.41 12l1.42 1.41a1 1 0 1 1-1.42 1.42L12 13.4l-1.41 1.42a1 1 0 1 1-1.42-1.42L10.6 12l-1.42-1.41a1 1 0 1 1 1.42-1.42L12 10.6l1.41-1.42a1 1 0 1 1 1.42 1.42L13.4 12z"></path></svg>
              </div>
      </div>

    <div class="flex border-b border-40">
     
            <div class="w-1/5 px-8 py-6">
                    <label for="statement" class="inline-block leading-tight text-80">
                        Answer Type </label
                    >
                </div>
                <div class="py-6 px-8 w-1/2"
                v-for="(answerType,index) in answerTypes"
                   :key="index"
                >
               
                    <div class=" flex mb-2"> 
                        <div class="mr-3">{{ answerType.title }}</div>
                                
                        <input
                        v-model= " questionOption.answer_type[answerType.title]"
                        @change="addAnswerTypes($event,answerType.title)"
                                type="checkbox"
                                class="checkbox"
                                />
                    </div>
                </div>   
                
    </div>

    <div v-if="index == length - 1" class="flex border-b border-40">     
              
            <div class="py-6  w-2/3">
                <button 
                class="  float-right flex inline-flex nova-button btn btn-default btn-primary focus:outline-none"
                @click.prevent="addNewRow"
            >
                {{ __("Add more option") }}
            </button>
            </div>
    </div>


    
        
</div>
  </template>
  
  <script>
  import debounce from "lodash/debounce";
  // import pagination from "./Pagination.vue";
  
  export default {
    props: ["questionOption", "index", "length"],
    data() {
        return {
            shouldDisable: false,
            answerTypes:[],
        };
    },
   

    mounted() {
        this.getAnswerTypes();

        console.log("index ");
        console.log(this.index);
        console.log("questionOption ");
        console.log(this.questionOption);
    },

    methods: {

        addAnswerTypes(event, title) {
            console.log(title)
            if (event.target.checked) {
                this.questionOption.answer_type[title] = true;
               
            } else{
                this.questionOption.answer_type[title] = false;
            }
        },

        getAnswerTypes() {

      Nova.request()
        .get("/nova-vendor/survey/get-answer-type-options/", {
        })
        .then(({ data }) => {
          this.answerTypes = data.result;
            console.log("options");
            console.log(this.answerTypes);
            this.loading = false;
        })
        .catch((err) => console.log(err));
            
        },
       
        addNewRow: function () {
         
            this.$emit("addNewRow");
        },
       
        removeRow: function () {
         
            this.$emit("removeRow");
        },
        // editRow: function() {
        //     this.shouldDisable =false;
        // },
       
      
    }
};
</script>