<template>
    <div>
  
    
  
      <div class="flex items-center px-2 py-3">
        <h1 class="flex-auto text-2xl font-normal truncate text-90">Multiple Type Option</h1>
        <div class="ml-auto flex-no-shrink">
  
         <router-link
            tag="a"
            :to="{path:`/create-multiple-type-options`
                    }"
            class="btn btn-default btn-primary"
            >Create Options
          </router-link>
        
        </div>
      </div>
      <div class="card">
        <div class="flex items-center justify-between p-3 border-b border-50">
          <!-- <div class="relative h-9 flex-no-shrink">
            <input
              ref="ItemDescription"
              @input="isTyping = true"
              v-model="searchDescription"
              placeholder="Description"
              type="text"
              class="w-full form-control form-input form-input-bordered"
            />
          </div>
          <div class="relative h-9">
            <input
              ref="ItemID"
              @input="isTyping = true"
              v-model="searchItemID"
              placeholder="Item #"
              type="number"
              class="w-full form-control form-input form-input-bordered"
            />
          </div> -->
  
          <!-- <div class="relative h-9 flex-no-shrink">
            <select ref="CompanyID" class="w-full form-control form-select">
              <option value="" selected="selected" disabled="disabled">
                Choose a vendor
              </option>
              <option
                v-for="vendor in vendors"
                :key="vendor.CompanyID"
                :value="vendor.CompanyID"
              >
                {{ vendor.CompanyName }}
              </option>
            </select>
          </div> -->
          <!-- <div class="flex">
            <button
              class="
                inline-flex
                mr-2
                nova-button
                btn btn-default btn-primary
                focus:outline-none
              "
              @click.prevent="filterData(1)"
            >
              {{ __("Filter") }}
            </button>
            <button
              class="
                inline-flex
                nova-button
                btn btn-default btn-primary
                focus:outline-none
              "
              @click.prevent="resetFilter"
            >
              {{ __("Reset") }}
            </button>
          </div> -->
        </div>
        <loading-view :loading="loading">
          <div class="relative">
            <div class="relative overflow-hidden overflow-x-auto overflow-y-auto">
              <table cellpadding="0" cellspacing="0" class="table w-full">
                <thead>
                  <tr>
                
                    <th class="text-left">
                      <span class="inline-flex items-center"> Statement</span>
                    </th>
                    <!-- <th class="text-left">
                      <span class="inline-flex items-center"> Question Type </span>
                    </th> -->
                
            
                  </tr>
                </thead>
                <tbody v-if="options.length">
                  <tr v-for="option in options" :key="option.id">
                    
                    <td>
                      <div class="text-left">
                        <span class="whitespace-no-wrap">
                          {{ option.statement }}
                        </span>
                      </div>
                    </td>
                    
                    <td>
                      <div class="inline-flex items-right">
                                          <router-link
                                            tag="a"
                                            :to="{
                                              path: `/multiple-type-option-detail/${option.id}`
                                            }"
                                          >
                                            <div
                                              class="
                                                inline-flex
                                                mr-3
                                                appearance-none
                                                cursor-pointer
                                                text-70
                                                hover:text-primary
                                                focus:outline-none
                                                has-tooltip
                                              "
                                            >
                                                <svg
                                                  xmlns="http://www.w3.org/2000/svg"
                                                  width="22"
                                                  height="18"
                                                  viewBox="0 0 22 16"
                                                  aria-labelledby="view"
                                                  role="presentation"
                                                  class="fill-current"
                                                >
                                                  <path
                                                    d="M16.56 13.66a8 8 0 0 1-11.32 0L.3 8.7a1 1 0 0 1 0-1.42l4.95-4.95a8 8 0 0 1 11.32 0l4.95 4.95a1 1 0 0 1 0 1.42l-4.95 4.95-.01.01zm-9.9-1.42a6 6 0 0 0 8.48 0L19.38 8l-4.24-4.24a6 6 0 0 0-8.48 0L2.4 8l4.25 4.24h.01zM10.9 12a4 4 0 1 1 0-8 4 4 0 0 1 0 8zm0-2a2 2 0 1 0 0-4 2 2 0 0 0 0 4z"
                                                  ></path>
                                                </svg>
                                              </div>
                                          </router-link>
                                        </div>
                    </td>
  
                    
                  </tr>
                </tbody>
                <tbody v-else>
                  <tr>
                    <td colspan="11" class="text-center">No data</td>
                  </tr>
                </tbody>
              </table>
            </div>
          </div>
          <!-- <pagination
            v-show="total"
            @page="loadpage($event)"
            :page="page"
            :pages="pages"
            next="true"
            previous="true"
          >
            <span class="text-sm text-80 px-4 ml-auto">
              {{ (page - 1) * perpage + 1 }} -
              {{ Math.min(page * perpage, total) }} of
              {{ total }}
            </span>
          </pagination> -->
        </loading-view>
      </div>
    </div>
  </template>
  
  <script>
  import debounce from "lodash/debounce";
  // import pagination from "./Pagination.vue";
  
  export default {
    name: "Question",
    components: {  },
    metaInfo() {
      return {
        title: "Question",
      };
    },
    data() {
      return {
        options: [],
        loading: false,
        isTyping: false,
        currentPage: 2,
        page: 1,
        pages: 1,
        total: 0,
        perpage: window.laravelConfig.perpage,
      };
    },
    mounted() {
      console.log("item......");
       this.fetchData();
    },
    watch: {
      searchDescription: debounce(function () {
        this.isTyping = false;
      }, 1000),
      searchItemID: debounce(function () {
        this.isTyping = false;
      }, 1000),
      isTyping: function (value) {
        if (!value) {
          this.filterData(1);
        }
      },
    },
    methods: {
      
      loadpage(page) {
        this.page = page;
        this.filterData();
        console.log(page);
      },
  
  
      // filterData(page) {
      //   if (page) {
      //     this.page = 1;
      //   }
  
      //   const ItemID = this.$refs.ItemID.value;
      //   const ItemDescription = this.$refs.ItemDescription.value;
      //   const CompanyID = this.$refs.CompanyID.value;
      //   this.fetchData(ItemID, ItemDescription, CompanyID);
      // },
      // resetFilter() {
      //   this.$refs.ItemID.value = "";
      //   this.$refs.ItemDescription.value = "";
      //   this.$refs.CompanyID.value = "";
      // },
  
      fetchData: function (
      ) {
          this.loading = true;

        Nova.request()
        .get("/nova-vendor/survey/get-multiple-type-options/", {
        })
        .then(({ data }) => {
          this.options = data.result;
            console.log("options");
            console.log(this.options);
            this.loading = false;
        })
        .catch((err) => console.log(err));
      
      },
    
    },
  };
  </script>
  
  <style>
  /* Scoped Styles */
  .btn-medium {
    height: 2.25rem;
    padding: 0 1rem;
    align-items: center;
    border-radius: 0.5rem;
    font-size: 0.9rem;
  }
  </style>
  