<template>
  <div>


    <div class="mb-8">
      <h1 class="text-90 font-normal text-2xl mb-3">Options Detail</h1>
    </div>
    <div class="card">
      <div class="my-4">


        <div class="flex border-b border-40">
            <div class="w-1/5 px-8 py-6">
                <label for="statement" class="inline-block text-80 pt-2 leading-tight">
                    Statement </label
                >
            </div>

            <div class="py-6 px-8 w-1/2">
                <div class="flex items-center">              
                           <input id="desc"
                                ref="desc"
                                name="desc"
                                v-model="this.item.statement"
                                type="text"
                                placeholder="Enter Question Statement "
                                class=" w-full form-control form-input form-input-bordered"
                                disabled
                            />
                </div>
            </div>
          
        </div>


        <!-- <div class="flex border-b border-40">
            <div class="w-1/5 px-8 py-6">
                <label for="type" class="inline-block text-80 pt-2 leading-tight">
                  Personality Type </label
                >
            </div>
            <div class="py-6 px-8 w-1/2">
                <div class="flex items-center">              
                           <input id="type"
                                ref="type"
                                name="type"
                                v-model="item.personality_type"
                                type="text"
                                class=" w-full form-control form-input form-input-bordered"
                                disabled
                            />
                </div>
            </div>
          
        </div> -->


        <div >
      
          <h4  class="text-90 font-normal w-2/3 text-2xl text-center mr-4 mb-1">Options</h4>
       </div>

       <div v-for="(option,index ) in  item.options" :key="index" >
     
          <!-- <div v-if="question.question_type == 'Multiple Option Type'"> -->
         <div> 
                <div class="flex border-b border-40">
                  <div class="w-1/5 px-8 py-6">
                        <label for="type" class="inline-block text-80 pt-2 leading-tight">
                            option {{index+1}} </label
                        >
                    </div>
                    <div class="py-6 px-8 w-1/2">
                        <div class="flex items-center">              
                                  <input id="type"
                                        ref="type"
                                        name="type"
                                        v-model="option.option"
                                        type="text"
                                        class=" w-full form-control form-input form-input-bordered"
                                        disabled
                                    />
                        </div>
                    </div>
                </div>

                <div class="flex border-b border-40">
                  <div class="w-1/5 px-8 py-6">
                      <label for="type" class="inline-block text-80 pt-2 leading-tight">
                        Answer Type </label
                      >
                    </div>
                    <div class="py-6 px-8 w-1/2">
                          <div class=" flex mb-2"> 
                              <div class="mr-3">I</div>
                                      
                              <input
                                      ref="I"
                                      v-model= "option.answer_type.I"
                                    
                                      type="checkbox"
                                      class="checkbox"
                                      disabled
                                      />
                          </div>
                        <div class="flex ">    
                          <div class="mr-2">E</div>         
                              <input
                                      ref="E"
                                      v-model= "option.answer_type.E"
                                    
                                      type="checkbox"
                                      class="checkbox"
                                      disabled
                                      />
                          </div>
                      </div>  
                </div>
          </div>

           <!-- <div v-else-if="question.question_type == 'Range Option Type'">

              <div class="flex border-b border-40">
                    <div class="w-1/5 px-8 py-6">
                        <label for="type" class="inline-block text-80 pt-2 leading-tight">
                          option {{index+1}} </label
                          >
                    </div>

                      <div class="py-6 px-8 w-1/2">
                          <div class="flex items-center">              
                                    <input id="type"
                                          ref="type"
                                          name="type"
                                          v-model="option.option"
                                          type="text"
                                          class=" w-full form-control form-input form-input-bordered"
                                          disabled
                                      />
                          </div>
                      </div>


              </div>

              <div class="flex border-b border-40">
     
                  <div class="w-1/5 px-8 py-6">
                      <label for="statement" class="inline-block leading-tight text-80">
                          Low Limit </label
                      >
                  </div>
                  <div class="py-6 px-8 w-1/2">
                      <div class=" flex mb-2"> 
                                  
                          <input
                               disabled
                                  v-model= "option.lo"
                                  type="text"
                                  class=" w-full form-control form-input form-input-bordered"
                                  />
                      </div>
              
                  </div>   
          
              </div>


              <div class="flex border-b border-40">

                  <div class="w-1/5 px-8 py-6">
                      <label for="statement" class="inline-block leading-tight text-80">
                          High Limit </label
                      >
                  </div>

                    <div class="py-6 px-8 w-1/2">
                      <div class=" flex mb-2">             
                          <input
                             disabled
                              v-model= "option.hi"
                              type="text"
                              class=" w-full form-control form-input form-input-bordered"
                              />
                        </div>
          
                    </div>   
              </div>

          </div>             -->
      </div>
  
    </div>
    </div>
  </div>
</template>

<script>
import debounce from "lodash/debounce";
// import pagination from "./Pagination.vue";

export default {
  name: "Question Detail",
  components: {  },
  metaInfo() {
    return {
      title: "Question Deatil",
    };
  },
  data() {
    return {
      item: [],
      loading: false,
      isTyping: false,
      currentPage: 2,
      page: 1,
      pages: 1,
      total: 0,
      perpage: window.laravelConfig.perpage,
    };
  },
  mounted() {
    const optionID = this.$route.params.optionID;
    if (optionID) {
         this.fetchData(optionID);
    } else {
      Nova.error('some error occured!');
     }
    
  },
  watch: {
    searchDescription: debounce(function () {
      this.isTyping = false;
    }, 1000),
    searchItemID: debounce(function () {
      this.isTyping = false;
    }, 1000),
    isTyping: function (value) {
      if (!value) {
        this.filterData(1);
      }
    },
  },
  methods: {
    
    loadpage(page) {
      this.page = page;
      this.filterData();
      console.log(page);
    },


    // filterData(page) {
    //   if (page) {
    //     this.page = 1;
    //   }

    //   const ItemID = this.$refs.ItemID.value;
    //   const ItemDescription = this.$refs.ItemDescription.value;
    //   const CompanyID = this.$refs.CompanyID.value;
    //   this.fetchData(ItemID, ItemDescription, CompanyID);
    // },
    // resetFilter() {
    //   this.$refs.ItemID.value = "";
    //   this.$refs.ItemDescription.value = "";
    //   this.$refs.CompanyID.value = "";
    // },

    fetchData: function (optionID) {
      this.loading = true;
      Nova.request()
        .get("/nova-vendor/survey/get-multiple-type-options/"+optionID, {
         })
        .then(({ data }) =>{
          
          this.item = data;
          console.log(  this.item.multiple_type_options );
          this.item.options = JSON.parse(this.item.multiple_type_options);
        
          // console.log( this.question );
          // if(this.page == 1) {
          //   this.pages = Math.ceil(data.total / 20);
          //   this.total = data.total;
          // }
       
          this.loading = false;
        })
        .catch((err) => {
          this.loading = false;
          console.log(err);
        });
    },
  
  },
};
</script>

<style>
/* Scoped Styles */
.btn-medium {
  height: 2.25rem;
  padding: 0 1rem;
  align-items: center;
  border-radius: 0.5rem;
  font-size: 0.9rem;
}
</style>
