<template>
  <div>


    <div class="mb-8">
      <h1 class="text-90 font-normal text-2xl mb-3">Questions Detail</h1>
    </div>

    <div class="card">
      <div class="my-4">

        <div class="flex border-b border-40">
            <div class="w-1/5 px-8 py-6">
                <label for="question_id" class="inline-block text-80 pt-2 leading-tight">
                    Question Id </label
                >
            </div>
            <div class="py-6 px-8 w-1/2">
                <div class="flex items-center">              
                           <input id="question_id"
                                ref="question_id"
                                name="question_id"
                                v-model="this.question.question_id"
                                type="text"
                               disabled
                                class=" w-full form-control form-input form-input-bordered"
                            />
                </div>
            </div>
        </div>


      <div class="flex border-b border-40">
            <div class="w-1/5 px-8 py-6">
                <label for="type" class="inline-block text-80 pt-2 leading-tight">
                  Survey </label
                >
            </div>
            <div class="py-6 px-8 w-1/2">
              <select  v-model="survey" class="w-full form-control form-select"
              @change="getSets()">
               
                <option v-for="survey in surveys"
                  :key="survey.id"
                  :value="survey.id"
               
                > 
                  {{ survey.survey_name }}
                </option>
              </select>
            </div>
          
        </div>

        <div class="flex border-b border-40">
            <div class="w-1/5 px-8 py-6">
                <label for="type" class="inline-block text-80 pt-2 leading-tight">
                    Set </label
                >
            </div>
            <div class="py-6 px-8 w-1/2">
              <select  v-model="set" class="w-full form-control form-select">
                
                <option v-for="set in sets"
                  :key="set.id"
                  :value="set.id"
                > 
                  {{ set.set_name }}
                </option>
              </select>
            </div>
          
        </div>


          <div class="flex border-b border-40">
              <div class="w-1/5 px-8 py-6">
                  <label  class="inline-block leading-tight text-80">
                      Type </label
                  >
              </div>
              <div class="py-6 px-8 w-1/2">
                <select  @change="selectOption()" v-model="typeOption"
                class="w-full form-control form-select"
                >
                  <option
                    v-for="option in typeOptions"
                    :key="option.id"
                    :value="option.name"
                  >
                    {{ option.name }}
                  </option>
                </select>
              </div>
            
          </div>

          <div class="flex border-b border-40">
              <div class="w-1/5 px-8 py-6">
                  <label for="statement" class="inline-block leading-tight text-80">
                      Statement *</label
                  >
              </div>

              
              <div class="py-6 px-8 w-1/2">
                  <div class="flex items-center">              
                            <input id="statement"
                                  ref="statement"
                                  name="statement"
                                  v-model="statement"
                                  type="text"
                                  placeholder="Enter Question Statement "
                                  class=" w-full form-control form-input form-input-bordered"
                              />
                  </div>
              </div>
            
          </div>

          <div   v-for="(questionOption, index) in questionOptions" :key="index">

                <div v-if ="typeOption == 'Multiple Option Type'">
            
                            <MultipleOption 
                                                 :questionOption="questionOption" 
                                                  @removeRow="removeRow(index)"
                                                  @addNewRow="addNewRow"
                                                  :index="index"
                                                  :length="questionOptions.length"
                              />    
      
                </div>

                  <div v-if ="typeOption == 'Range Option Type'">
                

                        <div class="flex border-b border-40">
                          <div class="bg-20 ml-4 text-bold text-center remove-last-margin-bottom leading-normal w-full py-4 px-8">Create Options</div>
                        </div> 

                          <RangeOption 
                                                    :questionOption="questionOption" 
                                                    @removeRow="removeRow(index)"
                                                    @addNewRow="addNewRow"
                                                    :index="index"
                                                    :length="questionOptions.length"
                              />    
                   </div>  

            </div>
        
  

          <div class="flex py-6 my-5 items-center justify-center ">
            <button
                type="button"
                class="  float-right flex inline-flex nova-button btn btn-default btn-primary focus:outline-none"
                @click.prevent="updateQuestion"
            >
               Update Question
            </button>
         </div>


  
    </div>
    </div>
  </div>
</template>

<script>
import debounce from "lodash/debounce";
import MultipleOption from './MultipleOption.vue';
import RangeOption from './RangeOption.vue';
// import pagination from "./Pagination.vue";

export default {
  name: "Question Detail",
  components: {  },
  metaInfo() {
    return {
      title: "Question Deatil",
    };
  },

  components: {
    MultipleOption,
    RangeOption

  },

  data() {
    return {
      questionOptions: [],
      answerTypes:[],
      question: [],
      sets: [],
      surveys:[],
      loading: false,
      isTyping: false,
      currentPage: 2,
      page: 1,
      pages: 1,
      total: 0,
      typeOptions: [
        {
          id:"1",
          name: "Range Option Type"
        },
        {
          id:"2",
          name: "Multiple Option Type"
        },
  
      ],

      perpage: window.laravelConfig.perpage,
    };
  },
  mounted() {
    this.getAnswerTypes();
    const questionID = this.$route.params.questionID;
    if (questionID) {
      this.fetchData(questionID);
    } else {
      Nova.error('some error occured!');
     }
    
  },
  watch: {
    searchDescription: debounce(function () {
      this.isTyping = false;
    }, 1000),
    searchItemID: debounce(function () {
      this.isTyping = false;
    }, 1000),
    isTyping: function (value) {
      if (!value) {
        this.filterData(1);
      }
    },
  },
  methods: {
    
    loadpage(page) {
      this.page = page;
      this.filterData();
      console.log(page);
    },

    updateQuestion: function () {
    
   
     if (!this.survey) {
       Nova.error("please select a Survey");
       return;
     }
     if (!this.set) {
       Nova.error("please select a Set");
       return;
     }
     Nova.request()
       .put("/nova-vendor/survey/update-question", {
         test_set_id:this.set,
         survey:this.survey,
         question_id: this.question.question_id,
         statement: this.statement,
         question_type: this.typeOption,
         questionOptions:this.questionOptions,

       })
       .then(({ data }) => {
         Nova.success("Question Updated successfully!");
         console.log(data[0].id);
        //  this.$router.push({
        //    path: `/question-detail/${data[0].id}`,
        //    query: {
        //    },
        //  });
         this.$router.push({
           path: `/questions`,
           query: {
           },
         });
                                       
       })
       .catch((err) => {
         Nova.error("Some Error Occured!");
         console.log(err)
       }
      );
   },
    selectOption() {

      this.questionOptions = [];
      this.addNewRow();

      },
    fetchData(questionID) {
      this.getQuestion(questionID);
    },

    addNewRow() {
      let option = {};
      let answer_types = {};
      if (this.optionType == 'Multiple Option Type') {
        
      
        this.answerTypes.forEach(element => {
          answer_types[element.title] = false;
        });
        console.log("answer types is")
        console.log(answer_types)

        option = {
          option: "",
          answer_type: answer_types,
        };
        
      } else if (this.optionType == 'Range Option Type') {

          option = {
            option: "",
             lo: '',
             hi:''
          };
        
      }
             this.questionOptions.push(option);
             console.log(this.questionOptions);
    },

    removeRow(index) {
    
    this.questionOptions.splice(index,1);
           console.log(this.questionOptions);
    },

    getSets() { 
     console.log("get set")
     console.log( this.survey );
      if (!this.survey) {
        Nova.error("please select a Survey");
        return;
      }
      Nova.request()
        .get("/nova-vendor/survey/get-sets/"+this.survey, {
           survey_id: this.survey,
        })
        .then(({ data }) => {
          this.sets = data;
        })
        .catch((err) => console.log(err));

    },


    getSurveys() { 

      Nova.request()
        .get("/nova-vendor/survey/get-surveys", {
            
        })
        .then(({ data }) => {
          console.log(data);
          this.surveys = data;
        })
        .catch((err) => console.log(err));

    },

    getAnswerTypes() {
             Nova.request()
                .get("/nova-vendor/survey/get-answer-type-options/", {
                })
                .then(({ data }) => {
                  this.answerTypes = data.result;
                    console.log("options");
                    console.log(this.answerTypes);
                    this.loading = false;
                })
                .catch((err) => console.log(err));
      
        },
 

    // filterData(page) {
    //   if (page) {
    //     this.page = 1;
    //   }

    //   const ItemID = this.$refs.ItemID.value;
    //   const ItemDescription = this.$refs.ItemDescription.value;
    //   const CompanyID = this.$refs.CompanyID.value;
    //   this.fetchData(ItemID, ItemDescription, CompanyID);
    // },
    // resetFilter() {
    //   this.$refs.ItemID.value = "";
    //   this.$refs.ItemDescription.value = "";
    //   this.$refs.CompanyID.value = "";
    // },

    update() {
      
    },

    getQuestion: function (questionID) {
      this.loading = true;
      Nova.request()
        .get("/nova-vendor/survey/get-question/"+questionID, {
         })
        .then(({ data }) =>{
          
          this.question = data;

          // let multiple_option_answers = this.question.multiple_option_answers;
          // console.log(multiple_option_answers);
          // if ( this.question.question_type == "Multiple Option Type") {
          //   this.statement = this.question.multiple_option_answers.statement;
          //   this.question.question_options = JSON.parse(this.question.multiple_option_answers.multiple_type_options);

          // } else {
          //   this.statement = this.question.desc;
          //   this.question.question_options = JSON.parse(this.question.question_options);
          // }


          this.statement = this.question.desc;
          this.question.question_options = JSON.parse(this.question.question_options);
         
      
          this.survey = this.question.test_set.survey_id;
          this.set = this.question.test_set_id;
          this.typeOption = this.question.question_type;
          this.questionOptions = this.question.question_options;
           console.log( this.survey );
          console.log(this.question);
          this.getSurveys();
          this.getSets();
       
          // if(this.page == 1) {
          //   this.pages = Math.ceil(data.total / 20);
          //   this.total = data.total;
          // }
       
          this.loading = false;
        })
        .catch((err) => {
          this.loading = false;
          console.log(err);
        });
    },
  
  },
};
</script>

<style>
/* Scoped Styles */
.btn-medium {
  height: 2.25rem;
  padding: 0 1rem;
  align-items: center;
  border-radius: 0.5rem;
  font-size: 0.9rem;
}
</style>
