<template>
  <div>

  

    <div class="flex items-center px-2 py-3">
      <h1 class="flex-auto text-2xl font-normal truncate text-90">User Result</h1>
      <div class="ml-auto flex-no-shrink">

      
      
      </div>
    </div>
    <div class="card">
      <div class="flex items-center justify-between p-3 border-b border-50">
        <!-- <div class="relative h-9 flex-no-shrink">
          <input
            ref="ItemDescription"
            @input="isTyping = true"
            v-model="searchDescription"
            placeholder="Description"
            type="text"
            class="w-full form-control form-input form-input-bordered"
          />
        </div>
        <div class="relative h-9">
          <input
            ref="ItemID"
            @input="isTyping = true"
            v-model="searchItemID"
            placeholder="Item #"
            type="number"
            class="w-full form-control form-input form-input-bordered"
          />
        </div> -->

        <!-- <div class="relative h-9 flex-no-shrink">
          <select ref="CompanyID" class="w-full form-control form-select">
            <option value="" selected="selected" disabled="disabled">
              Choose a vendor
            </option>
            <option
              v-for="vendor in vendors"
              :key="vendor.CompanyID"
              :value="vendor.CompanyID"
            >
              {{ vendor.CompanyName }}
            </option>
          </select>
        </div> -->
        <!-- <div class="flex">
          <button
            class="
              inline-flex
              mr-2
              nova-button
              btn btn-default btn-primary
              focus:outline-none
            "
            @click.prevent="filterData(1)"
          >
            {{ __("Filter") }}
          </button>
          <button
            class="
              inline-flex
              nova-button
              btn btn-default btn-primary
              focus:outline-none
            "
            @click.prevent="resetFilter"
          >
            {{ __("Reset") }}
          </button>
        </div> -->
      </div>
      <loading-view :loading="loading">
        <div class="relative">
          <div class="relative overflow-hidden overflow-x-auto overflow-y-auto">
            <table cellpadding="0" cellspacing="0" class="table w-full">
              <thead>
                <tr>
                  <th class="text-left">
                    <span class="inline-flex items-center"> Survey Name </span>
                  </th>
                  <th class="text-left">
                    <span class="inline-flex items-center"> User Email </span>
                  </th>
                  <th class="text-left">
                    <span class="inline-flex items-center"> Result</span>
                  </th>
                  <th class="text-left">
                    <span class="inline-flex items-center">Completed On </span>
                  </th>
                <!-- <th>&nbsp;</th> -->
          
                </tr>
              </thead>
              <tbody v-if="results.length">
                <tr v-for="result in results" :key="result.id">
                  <td>
                    <div class="text-left">
                      <span class="whitespace-wrap">
                        {{ result.survey.survey_name }}
                      </span>
                    </div>
                  </td>

                  <td>
                    <div class="text-left">
                      <span class="whitespace-wrap">
                        {{ result.user_email }}
                      </span>
                    </div>
                  </td>

                  <td>
                    <div class="text-left">
                      <span class="whitespace-wrap">
                        {{result.result.result}} /  {{result.result.total}}
                      </span>
                    </div>
                  </td>
             


                  <td>
                    <div class="text-left">
                      <span class="whitespace-no-wrap">
                        {{ new Date(result.updated_at).toLocaleDateString()}}
                      </span>
                    </div>
            
                  </td>
                  
                </tr>
              </tbody>
              <tbody v-else>
                <tr>
                  <td colspan="11" class="text-center">No data</td>
                </tr>
              </tbody>
            </table>
          </div>
        </div>
        <!-- <pagination
          v-show="total"
          @page="loadpage($event)"
          :page="page"
          :pages="pages"
          next="true"
          previous="true"
        >
          <span class="text-sm text-80 px-4 ml-auto">
            {{ (page - 1) * perpage + 1 }} -
            {{ Math.min(page * perpage, total) }} of
            {{ total }}
          </span>
        </pagination> -->
      </loading-view>
    </div>
  </div>
</template>

<script>
import debounce from "lodash/debounce";
// import pagination from "./Pagination.vue";

export default {
  name: "Results",
  components: {  },
  metaInfo() {
    return {
      title: "Results",
    };
  },
  data() {
    return {
      results: [],
      loading: false,
      isTyping: false,
      currentPage: 2,
      page: 1,
      pages: 1,
      total: 0,
      perpage: window.laravelConfig.perpage,
    };
  },
  created() {
    console.log("Results......");
     this.fetchData();
  },
  watch: {
    searchDescription: debounce(function () {
      this.isTyping = false;
    }, 1000),
    searchItemID: debounce(function () {
      this.isTyping = false;
    }, 1000),
    isTyping: function (value) {
      if (!value) {
        this.filterData(1);
      }
    },
  },

  // computed: {
   
  // },
  methods: {
    
    loadpage(page) {
      this.page = page;
      this.filterData();
      console.log(page);
    },


    // filterData(page) {
    //   if (page) {
    //     this.page = 1;
    //   }

    //   const ItemID = this.$refs.ItemID.value;
    //   const ItemDescription = this.$refs.ItemDescription.value;
    //   const CompanyID = this.$refs.CompanyID.value;
    //   this.fetchData(ItemID, ItemDescription, CompanyID);
    // },
    // resetFilter() {
    //   this.$refs.ItemID.value = "";
    //   this.$refs.ItemDescription.value = "";
    //   this.$refs.CompanyID.value = "";
    // },

    fetchData: function (
    ) {
      this.loading = true;
      Nova.request()
        .get("/nova-vendor/survey/get-results", {

        })
        .then(({ data }) =>{
          
          this.results = data
          console.log( this.results)
          this.results.forEach((result,index) => {
            let decodedJsonResult = JSON.parse(result.result);
            // this.results[index].result = null;
            this.results[index].result = decodedJsonResult;
           
          });
          this.results =  this.results.filter(r=> r.survey)
          console.log(this.results)
          this.loading = false;
        })
        .catch((err) => {
          this.loading = false;
          console.log(err);
        });
    },
  
  },
};
</script>

<style>
/* Scoped Styles */
.btn-medium {
  height: 2.25rem;
  padding: 0 1rem;
  align-items: center;
  border-radius: 0.5rem;
  font-size: 0.9rem;
}
</style>
