<template>
  <div>
    <div class="flex items-center px-2 py-3">
      <h1 class="flex-auto text-2xl font-normal truncate text-90">Survey</h1>
      <div class="ml-auto flex-no-shrink">
        <router-link
          tag="a"
          to="resources/surveys/new"
          class="btn btn-default btn-primary"
          >Create Survey
        </router-link>
      </div>
    </div>
    <div class="card">
      <div class="flex items-center justify-between p-3 border-b border-50">
        <div class="relative h-9 flex-no-shrink">
          <input
            ref="ItemDescription"
            @input="isTyping = true"
            v-model="searchDescription"
            placeholder="Description"
            type="text"
            class="w-full form-control form-input form-input-bordered"
          />
        </div>
       
   
   
      </div>
      <loading-view :loading="loading">
        <div class="relative">
          <div class="relative overflow-hidden overflow-x-auto overflow-y-auto">
            <table cellpadding="0" cellspacing="0" class="table w-full">
              <thead>
                <tr>
                  <th class="text-left">
                    <span class="inline-flex items-center"> Survey name </span>
                  </th>
                  <th class="text-right">
                    <span class="inline-flex items-center"> Description </span>
                  </th>
                 
        
                  <th>&nbsp;</th>
                </tr>
              </thead>
              <tbody v-if="surveys.length">
                <tr v-for="survey in surveys" :key="survey.id">
                  <td>
                    <div class="text-left">
                      <span class="whitespace-wrap">
                        {{ survey.survey_name }}
                      </span>
                    </div>
                  </td>
                  <td>
                    <div class="text-right">
                      <span class="whitespace-no-wrap">
                        {{ survey.desc }}
                      </span>
                    </div>
                  </td>
                  
                 
                  <td>
                    <div class="text-center">
                      <span class="whitespace-no-wrap">
                        {{ item.Backordered }}
                      </span>
                    </div>
                  </td>
                  <td>
                    <div class="text-center">
                      <span class="whitespace-no-wrap">
                        {{ item.VendorOrders }}
                      </span>
                    </div>
                  </td>
                  <td>
                    <div class="text-center">
                      <span class="whitespace-no-wrap">
                        {{ item.VendorOrderDate }}
                      </span>
                    </div>
                  </td>
                  <td class="pr-6 text-right align-middle td-fit">
                    <div class="inline-flex items-center">
                      <router-link
                        target="_blank"
                        :to="`/resources/items/${item.ItemID}`"
                        class="
                          inline-flex
                          mr-3
                          appearance-none
                          cursor-pointer
                          text-70
                          hover:text-primary
                          focus:outline-none
                          has-tooltip
                        "
                        :title="__('View')"
                      >
                        <icon type="view" class="text-70" />
                      </router-link>
                      <!-- <router-link
                                                :to="
                                                    `/resources/items/${item.ItemID}/edit`
                                                "
                                                class="inline-flex mr-3 appearance-none cursor-pointer text-70 hover:text-primary focus:outline-none has-tooltip"
                                                :title="__('Edit')"
                                            >
                                                <icon
                                                    type="edit"
                                                    class="text-70"
                                                />
                                            </router-link>
                                            <button
                                                @click.prevent="
                                                    deleteItem(
                                                        item.ItemID,
                                                        index
                                                    )
                                                "
                                                class="inline-flex mr-3 appearance-none cursor-pointer text-70 hover:text-primary focus:outline-none has-tooltip"
                                                :title="__('Delete')"
                                            >
                                                <icon
                                                    type="delete"
                                                    class="text-70"
                                                />
                                            </button> -->
                    </div>
                  </td>
                </tr>

              </tbody>
              <tbody v-else>
                <tr>
                  <td colspan="11" class="text-center">No data</td>
                </tr>
              </tbody>
            </table>
          </div>
        </div>
        <!-- <pagination
          v-show="total"
          @page="loadpage($event)"
          :page="page"
          :pages="pages"
          next="true"
          previous="true"
        >
          <span class="text-sm text-80 px-4 ml-auto">
            {{ (page - 1) * perpage + 1 }} -
            {{ Math.min(page * perpage, total) }} of
            {{ total }}
          </span>
        </pagination> -->
      </loading-view>
    </div>
  </div>
</template>

<script>
import debounce from "lodash/debounce";
// import pagination from "./Pagination.vue";

export default {
  name: "Items",
//   components: { pagination },
  metaInfo() {
    return {
      title: "Items",
    };
  },
  data() {
    return {
     surveys: [],
      vendors: [],
      loading: false,
      searchDescription: "",
      searchItemID: "",
      isTyping: false,
      currentPage: 2,
      page: 1,
      pages: 1,
      total: 0,
      perpage: window.laravelConfig.perpage,
    };
  },
//   mounted() {
//     console.log("item......");
//      this.fetchData();
//     this.fetchVendors();
//   },
  watch: {
    searchDescription: debounce(function () {
      this.isTyping = false;
    }, 1000),
    searchItemID: debounce(function () {
      this.isTyping = false;
    }, 1000),
    isTyping: function (value) {
      if (!value) {
        this.filterData(1);
      }
    },
  },
  methods: {
    //  getResults(page = 1) {

    //  },
    
    loadpage(page) {
      this.page = page;
      this.filterData();
      console.log(page);
    },

    filterData(page) {
      if (page) {
        this.page = 1;
      }

      const ItemID = this.$refs.ItemID.value;
      const ItemDescription = this.$refs.ItemDescription.value;
      const CompanyID = this.$refs.CompanyID.value;
      this.fetchData(ItemID, ItemDescription, CompanyID);
    },
    resetFilter() {
      this.$refs.ItemID.value = "";
      this.$refs.ItemDescription.value = "";
      this.$refs.CompanyID.value = "";
    },
    fetchData: function (
      ItemID = null,
      ItemDescription = null,
      CompanyID = null
    ) {
      this.loading = true;
      Nova.request()
        .post("/nova-vendor/order/get-item-list", {
          ItemID,
          ItemDescription,
          CompanyID,
          page: this.page,
        })
        .then(({ data }) =>{
          this.items = data.items;

          if(this.page == 1) {
            this.pages = Math.ceil(data.total / 20);
            this.total = data.total;
          }
          //  console.log("ites are ");
          //   console.log(this.items);
          this.loading = false;
        })
        .catch((err) => {
          this.loading = false;
          console.log(err);
        });
    },
    deleteItem(ItemID, index) {
      Nova.request()
        .post("/nova-vendor/order/delete-item", { ItemID })
        .then(({ data }) => {
          if (data.success) {
            Nova.success(data.message);
            this.items.splice(index, 1);
          } else {
            Nova.error(data.message);
          }
        })
        .catch((err) => console.log(err));
    },
    fetchVendors: function () {
      Nova.request()
        .post("/nova-vendor/order/get-vendor-list")
        .then(({ data }) => {
          this.vendors = data;
        })
        .catch((err) => console.log(err));
    },
  },
};
</script>

<style>
/* Scoped Styles */
.btn-medium {
  height: 2.25rem;
  padding: 0 1rem;
  align-items: center;
  border-radius: 0.5rem;
  font-size: 0.9rem;
}
</style>

